<!DOCTYPE html>
<html>
  <head>
    <title>Todoozit</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      
        <%= link_to "HOME", root_path, class: "btn btn-danger btn-lg btn-home pull-left" %>
        
        <% if current_user %>
          <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-danger btn-lg btn-out pull-right", method: :delete %>
        
        <% end %>
    

      <%= yield %>

    </div>
  </body>
</html>
