<!DOCTYPE html>
<html>
<head>
  <title>Todoozit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="nav nav-bar">
    <%= link_to "HOME", root_path, class: "btn btn-danger btn-lg btn-home" %>
    <%= link_to "Huh?", about_path, class: "btn btn-danger btn-lg btn-huh" %>
  <% if current_user %>
    <%= link_to "Sign out", destroy_user_session_path, class: "btn btn-danger btn-lg btn-out", method: :delete %>
  <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-danger btn-lg btn-in" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-lg btn-up" %>
  <% end %>
    </div>
  </div>

<%= yield %>

</body>
</html>
